body{
    overflow-x: hidden;
    background-image: url("../img/background--desktop.jpg");
    background-size:contain;
    background-repeat:repeat-y;
    margin: 30px;
    padding-top: 50px;
    
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}
hr{
    border: 1px solid rgb(0, 107, 47);
}

.corpo{
    margin:  120px 50px;
}

.margem--secao{
    margin: 80px 0px;
}

.foto--curriculo{
    width: 60%;
    border-radius: 50%;
    margin: 10%;
}

.heading-1{
    font-size: 60px;
}

.heading-2{
        font-size: 32px;
}

.heading-3{
        font-size: 28px;
}

.heading-4{
        font-size: 24px;
}

.paragraph{
    font-size: 16px;
}

@media screen and (max-width: 700px) {
    body{
        background-image: url("../img/background--mobile.jpg");
        background-size:contain;
        background-repeat: no-repeat;
        overflow-x: hidden;
        margin: 10px;
        padding-top: 50px;
    }

    .corpo{
        margin:  120px 20px;
    }
    
    .margem--secao{
        margin: 60px 0px;
    }
    
    .foto--curriculo{
        width: 60%;
        border-radius: 50%;
        margin: 10%;
    }

    .heading-1{
        font-size: 30px;
    }
    
    .heading-2{
            font-size: 26px;
    }
    
    .heading-3{
            font-size: 22px;
    }
    
    .heading-4{
            font-size: 18px;
    }
}
